
<body>
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-6 news-ltr">
                    <h4>Login</h4>
                    <form>
                        <div class="col-md-8 footer-right">
                            <h3>Email</h3>
                            <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite seu email';}" />
                        </div>
                        <div class="col-md-8 footer-right">
                            <h3>Senha</h3>
                            <input type="text" value="Senha" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite sua senha';}" />
                        </div>
                        <input type="submit" value="Login">
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

