

<body>
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-6 news-ltr">
                    <h4>Cadastre - se</h4>
                    <form>

                        <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite seu email';}" />



                        <input type="text" value="Seu nome" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite seu Nome Completo';}" />


                        <input type="text" value="CPF" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite seu CPF';}" />


                        <input type="text" value="Senha" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite sua senha';}" />


                        <input type="text" value="Confirmar Senha" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirme sua senha';}" />
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>


