
<!DOCTYPE HTML>
<html>
<head>
<title>NiceTrip</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/lightbox.css">
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Goaway Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
</head>
<body>
<!-- header -->
<div class="top-header">
	 <div class="container">
		 <div class="logo">
			 <h1><a href="index.html"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>NiceTrip</a></h1>
		 </div>		 
	 </div>
</div>
<!---->
<div class="top-menu">
	 <div class="container">
	  <div class="content white">
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>				
			 </div>
			 <!--/navbar header-->		
			 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav">
					 <li class="active"><a href="index.html">Inicio</a></li>
					 <li><a href="about.html">Quem Somos</a></li>
					 <li class="dropdown">
						<a href="#" class="scroll dropdown-toggle" data-toggle="dropdown">Destinos<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="scroll" href="#destination">Praia e Sol</a></li>
							<li><a class="scroll" href="#destination">Neve e Gelo</a></li>
							<li><a class="scroll" href="#destination">Altas Altitudes</a></li>
							<li><a class="scroll" href="#destination">Florestas Tropicais</a></li>
						</ul>
					 </li>					
					 <li><a href="gallery.html">Galeria de Fotos</a></li>
					 <li><a href="contact.html">Contato</a></li>
                     <li><a href="login.html">Login</a></li>
				 </ul>
				</div>
			  <!--/navbar collapse-->
		 </nav>
		  <!--/navbar-->		 
	  </div>
	 <div class="clearfix"></div>
		<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
		</div>
</div>
<!---->
<div class="banner">
	 <div class="container">
		 <div class="banner-grids">
			<div class="col-md-6 banner-grid grid1">
				  <div class="package">
					 <h3><a href="#">Nacionais</a></h3>
					 <ul>
						 <li><a href="#">Praia Brava, </a></li>
						 <li><a href="#">Serra Gaúcha, </a></li>
						 <li><a href="#">Lencois Maranheces</a></li>
					 </ul>
					 <span class="glyphicon1 glyphicon-globe" aria-hidden="true"></span>
				 </div>
			 </div>
			 <div class="col-md-6 banner-grid">
				 <div class="package">
					 <h3><a href="#">Internacionais</a></h3>
					 <ul>
						 <li><a href="#">Hong Kong, </a></li>
						 <li><a href="#">Germany, </a></li>
						 <li><a href="#">Italy</a></li>
					 </ul>
					 <span class="glyphicon1 glyphicon-plane" aria-hidden="true"></span>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="welcome">
	 <div class="container">
		 <div class="welcome-grids">
			  <div class="col-md-6 welcm-pic">
				 <img src="images/wel.jpg" class="img-responsive" alt=""/>
			  </div>
			  <div class="col-md-6 wel-info">
				 <h2>Seja Bem Vindo</h2>
				 <h4>Conheça os lugares mais lindos do Brasil e do mundo 
                  leve seu esporte com você</h4>
				 <p>Surfe pelas praias mais lindas do planeta, mergulhe entre os mais lindos animais aquáticos, suba as montanhas mais altas, atravesse as florestas mais densas ou salte das maiores alturas. </p>
                  <p>Você decide onde e o que fazer, o resto deixa com a gente ;)</p>
			  </div>
			  <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="choose">
	 <h3>Dê um UP na sua "Trip"</h3>
	 <div class="container">		 
		 <div class="choos-girds">
			 <div class="col-md-4 choos-grid">
				 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				 <h4>Clientes Satisfeitos</h4>
				 <p>...</p>
			 </div>
			 <div class="col-md-4 choos-grid">
				 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				 <h4>Melhor Escolha</h4>
				 <p>...</p>
			 </div>
			 <div class="col-md-4 choos-grid">
				 <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
				 <h4>Melhor Custo-Benefício</h4>
				 <p>...</p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="testimonal">
	 <div class="container">
		 <div class="testi-top">
			 <h3>Depoimentos</h3>
			 <p>...</p>
		 </div>
		 <div class="testi-slider">
		 
		 <script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider2").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
		 </script>
		 <div  id="top" class="callbacks_container">
			 <ul class="rslides" id="slider2">
				  <li>
					 <div class="testimonial-grids">
						 <div class="testimonial-left">
							 <img src="images/t1.jpg" alt="" />
						 </div>
						 <div class="testimonial-right">								
								<p><span>"</span> ...<span>"</span>
								</p>
								<h5>fulano</h5>
								<h6>salvador,BA</h6>
						 </div>
						 <div class="clearfix"> </div>
					 </div>
				  </li>
				  <li>
					 <div class="testimonial-grids">
						 <div class="testimonial-left">
							 <img src="images/t3.jpg" alt="" />
						 </div>
						 <div class="testimonial-right">
								<p><span>"</span> ...<span>"</span>
								</p>
								<h5>Cicrano</h5>
								<h6>Rio de Janeiro, RJ</h6>
						 </div>
						 <div class="clearfix"> </div>
					 </div>
				  </li>
				  <li>
					 <div class="testimonial-grids">
						 <div class="testimonial-left">
							 <img src="images/t2.jpg" alt="" />
						 </div>
						 <div class="testimonial-right">								
								<p><span>"</span> ...<span>"</span>
								</p>
								<h5>Beltrano</h5>
								<h6>indaial, SC</h6>
						 </div>
						 <div class="clearfix"> </div>
					 </div>
				  </li>
			 </ul>
		  </div>
		  </div>
	 </div>
</div>
<!---->
<div id="destination" class="destination">
	 <div class="container">
		 <div class="destination-top">
			 <h3>Destinos</h3>
			 <p>Os lugares mais lindos e radicais do mundo vc encontra aki</p>
		 </div>
		 <div class="destintn-grids">
			 <div class="col-md-4 desti-grid">
				 <a class="example-image-link" href="images/d1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/d1.jpg" alt=""/></a>
				 <div class="desti-info">
					 <h5><a href="#">Ondas Animais</a></h5>
					 <p>...</p>
				 </div>
			 </div>
			 <div class="col-md-4 desti-grid">
				   <a class="example-image-link" href="images/d2.jpg" data-lightbox="example-set"><img class="example-image" src="images/d2.jpg" alt=""/></a>
				 <div class="desti-info">
					 <h5><a href="#">As Montanhas Mais Altas</a></h5>
					 <p>...</p>
				 </div>
			 </div>
			 <div class="col-md-4 desti-grid">
				 <a class="example-image-link" href="images/d3.jpg" data-lightbox="example-set"><img class="example-image" src="images/d3.jpg" alt=""/></a>
				 <div class="desti-info">
					 <h5><a href="#">As Florestas Mais Selvagens</a></h5>
					 <p>...</p>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="destintn-grids">
			 <div class="col-md-4 desti-grid">
				 <a class="example-image-link" href="images/d4.jpg" data-lightbox="example-set"><img class="example-image" src="images/d4.jpg" alt=""/></a>
				 <div class="desti-info">
					 <h5><a href="#">Os Mergulhos Mais Loucos</a></h5>
					 <p>...</p>
				 </div>
			 </div>
			 <div class="col-md-4 desti-grid">
				 <a class="example-image-link" href="images/d5.jpg" data-lightbox="example-set"><img class="example-image" src="images/d5.jpg" alt=""/></a>
				 <div class="desti-info">
					 <h5><a href="#">Os Saltos Mais Sinistros</a></h5>
					 <p>...</p>
				 </div>
			 </div>
			 <div class="col-md-4 desti-grid">
				 <a class="example-image-link" href="images/d6.jpg" data-lightbox="example-set"><img class="example-image" src="images/d6.jpg" alt=""/></a>
				 <div class="desti-info">
					 <h5><a href="#">As Pistas Mais Ousadas</a></h5>
					 <p>...</p>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>

<!-- footer -->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-6 news-ltr">
				 <h4>Receba nossas ofertas</h4>
				 <p>...</p>
				 <form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Subscribe">
					 <div class="clearfix"></div>
				 </form>
			</div>
			 <div class="col-md-6 ftr-grid1">
				 <h4>Informacoes</h4>
				 <p>Acompanhe nossas redes sociais</p>
				 <div class="social">							
					<a href="#"><i class="facebook"></i></a>
					<a href="#"><i class="twitter"></i></a>
					<a href="#"><i class="dribble"></i></a>	
					<a href="#"><i class="google"></i></a>	
					<a href="#"><i class="youtube"></i></a>	
			      </div>
			 </div>			 
			 <div class="clearfix"></div>
		 </div>		 
	 </div>
</div>

<div class="copywrite">
	 <div class="container">
			 <p> © 2018 Nice Trip</p>
	 </div>
</div>

<!---->
<script src="js/lightbox-plus-jquery.min.js"></script>
<!---->
<!--/animatedcss-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--script-->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
<script src="js/responsiveslides.min.js"></script> 
</body>
</html>